@font-face {
    font-family: 'AbadiMTCondensedRegular';
    src: url('3543835926.eot');
    src: url('3543835926.eot') format('embedded-opentype'),
         url('3543835926.woff') format('woff'),
         url('3543835926.ttf') format('truetype'),
         url('3543835926.svg#AbadiMTCondensedRegular') format('svg');
}
